* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("blackjack-bg2.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(15px);
  color: white;
}

#spacer {
  padding: 20px 0;
}

#dealer-cards img,
#player-cards img {
  height: 175px;
  width: 125px;
  margin: 2px;
}

#hit,
#stay,
#reset {
  width: 100px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

#results {
  margin: 10px;
}

#audio {
  display: none;
}
